[Desktop Entry]
Version=1.0
Type=Application

Name=Feeling Finder
Comment=A fast and beautiful emoji picker
Categories=Utility;Amusement;

Icon=codes.merritt.FeelingFinder
Exec=feeling_finder
Terminal=false
StartupWMClass=feeling_finder